(
    tiles: [
        (
            x: -4,
            y: -3,
            tile: Wall,
        ),
        (
            x: -3,
            y: -3,
            tile: Wall,
        ),
        (
            x: -2,
            y: -3,
            tile: Wall,
        ),
        (
            x: -1,
            y: -3,
            tile: Wall,
        ),
        (
            x: 0,
            y: -3,
            tile: Wall,
        ),
        (
            x: 1,
            y: -3,
            tile: Wall,
        ),
        (
            x: 2,
            y: -3,
            tile: Wall,
        ),
        (
            x: 3,
            y: -3,
            tile: Wall,
        ),
        (
            x: 4,
            y: -3,
            tile: Wall,
        ),
        (
            x: -5,
            y: -2,
            tile: Wall,
        ),
        (
            x: -4,
            y: -2,
            tile: Wall,
        ),
        (
            x: -3,
            y: -2,
            tile: Floor,
        ),
        (
            x: -2,
            y: -2,
            tile: Floor,
        ),
        (
            x: 0,
            y: -2,
            tile: Wall,
        ),
        (
            x: 1,
            y: -2,
            tile: Wall,
        ),
        (
            x: 2,
            y: -2,
            tile: Floor,
        ),
        (
            x: 3,
            y: -2,
            tile: Floor,
        ),
        (
            x: 4,
            y: -2,
            tile: Wall,
        ),
        (
            x: -5,
            y: -1,
            tile: Wall,
        ),
        (
            x: -4,
            y: -1,
            tile: Floor,
        ),
        (
            x: -3,
            y: -1,
            tile: Floor,
        ),
        (
            x: -1,
            y: -1,
            tile: Floor,
        ),
        (
            x: 0,
            y: -1,
            tile: Floor,
        ),
        (
            x: 1,
            y: -1,
            tile: Floor,
        ),
        (
            x: 2,
            y: -1,
            tile: Floor,
        ),
        (
            x: 3,
            y: -1,
            tile: Floor,
        ),
        (
            x: 4,
            y: -1,
            tile: Wall,
        ),
        (
            x: -5,
            y: 0,
            tile: Wall,
        ),
        (
            x: -4,
            y: 0,
            tile: Floor,
        ),
        (
            x: -3,
            y: 0,
            tile: Floor,
        ),
        (
            x: -2,
            y: 0,
            tile: Floor,
        ),
        (
            x: -1,
            y: 0,
            tile: Floor,
        ),
        (
            x: 0,
            y: 0,
            tile: Floor,
        ),
        (
            x: 1,
            y: 0,
            tile: Floor,
        ),
        (
            x: 3,
            y: 0,
            tile: Floor,
        ),
        (
            x: 4,
            y: 0,
            tile: Wall,
        ),
        (
            x: -5,
            y: 1,
            tile: Wall,
        ),
        (
            x: -4,
            y: 1,
            tile: Floor,
        ),
        (
            x: -3,
            y: 1,
            tile: Floor,
        ),
        (
            x: -2,
            y: 1,
            tile: Wall,
        ),
        (
            x: -1,
            y: 1,
            tile: Wall,
        ),
        (
            x: 0,
            y: 1,
            tile: Floor,
        ),
        (
            x: 1,
            y: 1,
            tile: Floor,
        ),
        (
            x: 2,
            y: 1,
            tile: Floor,
        ),
        (
            x: 3,
            y: 1,
            tile: Floor,
        ),
        (
            x: 4,
            y: 1,
            tile: Wall,
        ),
        (
            x: -5,
            y: 2,
            tile: Wall,
        ),
        (
            x: -4,
            y: 2,
            tile: Wall,
        ),
        (
            x: -3,
            y: 2,
            tile: Wall,
        ),
        (
            x: -2,
            y: 2,
            tile: Wall,
        ),
        (
            x: -1,
            y: 2,
            tile: Wall,
        ),
        (
            x: 0,
            y: 2,
            tile: Wall,
        ),
        (
            x: 1,
            y: 2,
            tile: Wall,
        ),
        (
            x: 2,
            y: 2,
            tile: Wall,
        ),
        (
            x: 3,
            y: 2,
            tile: Wall,
        ),
        (
            x: -5,
            y: 4,
            tile: Wall,
        ),
        (
            x: 4,
            y: 2,
            tile: Wall,
        ),
        (
            x: -1,
            y: -2,
            tile: Floor,
        ),
    ],
)